{% extends "home/index.html" %}
{% load static %}

<!-- ckeditor-->
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
<!-- ckeditor-->

{% block yajuu_title %}
Haz una pregunta| Yajuu
{% endblock %}
 
{% block yajuu_body %}

<form action="" method="POST">
    
    {% csrf_token %}
    {{ form.media }}
    <div style="border: 2px solid rgb(52, 177, 52); margin: auto; padding-left: 35%; padding-top: 1em; padding-bottom: 1em;">
        <table>

            {{ my_form.as_table }}
            
        </table>

        <input type="submit", value="Enviar", style="margin-left: 5px;"/>

</form>
    </div>

{% endblock %}