{% extends "home/index.html" %}
{% load static %}

{% block yajuu_title %}
Resultados busqueda | Yajuu  
{% endblock %}
 
{% block yajuu_body %}
<body>
    
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.media }}
        <div style="border: 2px solid rgb(52, 177, 52); margin: auto; padding-left: 35%; padding-top: 1em; padding-bottom: 1em;">
            <h1 style="color: rgb(122, 2, 151);">Datos actuales en la base de datos para Post:</h1>
            {% for event in event_list %}
                <strong style="font-size: 1.4em;">Registro #{{ event.id }}</strong>
                <ul>
                    <li style="font-size: 1.3em;"><strong>Pregunta:</strong> {{ event.title }}</li>
                    <li style="font-size: 1.3em;"><strong>Categoria:</strong> {{ event.tag }}</li>
                    <li style="font-size: 1.3em;"><strong>Descripción:</strong> {{ event.description }}</li>
                </ul>
            {% endfor %}

    </form>
        </div>
    
</body>
</html>
{% endblock %}