{% extends "home/index.html" %}
{% load static %}

{% block yajuu_title %}
{{ post.title }} | Yajuu  
{% endblock %}
 
{% block yajuu_body %}

    <!-- Post preview-->
    <div class="post-preview">
        <h1>{{ post.title }}</h1>
        <h3 class="" style="font-size: 1.4em;">Catergoria: {{ post.tag }}</h3>
        <p class="post-meta">
            Creado por
            <span style="color: #0b4956;" href="">{{ post.owner.username }}</span>
            ( {{ post.created_at }} )
            <br>
            Última fecha de actualización ( {{ post.updated_at }} )
        </p>

        <!-- Image -->
        {% if post.image %}
            <div style="text-align: center;">
                <img height="250px" src="{{ post.image.url }}">
            </div>
        {% endif %}

        <!-- Description -->
        <p class="" style="font-size: 1.5em;">{{ post.description|safe }}</p> <!-- ckeditor-->
        <!-- Update-Delete link only for the owner -->
        {% if user == post.owner or user.is_superuser %}
            <p style="text-align: center">
                <a href="{% url 'post:post-update' post.id %}">
                    <i style="color: #1c1c91;"></i> Editar Pregunta
                </a>
                &ensp; | &ensp;
                <a href="{% url 'post:post-delete' post.id %}">
                    <i class="" style="color: #881a1a;"></i> Eliminar Pregunta
                </a>
            </p>
        {% endif %}

        <!-- Divider-->
        <hr class="my-4" />

        <!-- Comment creation-->
        <form method="post" action="{% url 'post:comment-create' post.id %}">
            {% csrf_token %}
            {{ comment_form }}
        <input type="submit" value="Publicar comentario">
        </form>
        {% if not comments %}
            <p></p>
        {% endif %}
        
        <!-- Comments list-->
        {% for post in posts %}
            <p>
                {{ comment.text }}
                ({{ comment.owner.username }} | {{ comment.update_at }})
                {% if user == comment.owner or user.is_superuser %}
                    <a href="{% url 'post:comment-delete' post.id %}"></a>
                {% endif %}
            </p>
        {% endfor %}

{% endblock %}