{% extends "home/index.html" %}
{% load static %}

{% block yajuu_title %}
{{ post.title }} | Yajuu  
{% endblock %}

{% block yajuu_header %}

<h1>{{ post.title }}</h1>

{% endblock %}
 
{% block yajuu_body %}
<body>
    <!-- Post preview-->
    <div class="post-preview">
        <h3 class="post-subtitle">Catergoria: {{ post.tag }}</h3>
        <p class="post-meta">
            Creado por
            <span style="color: #0b4956;" href="">{{ post.owner.username }}</span>
            ( {{ post.created_at }} )
            <br>
            Última fecha de actualización ( {{ post.updated_at }} )
        </p>

        <!-- Description -->
        <p class="card-text ">{{ post.description|safe }}</p> <!-- ckeditor-->
        <!-- Update-Delete link only for the owner -->
        {% if user == post.owner or user.is_superuser %}
        <p style="text-align: center">
            <a href="{% url 'post:post-update' post.id %}">
                <i class="fa fa-pencil" style="color: #1c1c91;"></i> Editar Curso
            </a>
            &ensp; | &ensp;
            <a href="{% url 'post:post-delete' post.id %}">
                <i class="fa fa-trash" style="color: #881a1a;"></i> Eliminar Curso
            </a>
        </p>
        {% endif %}

        <!-- Divider-->
        <hr class="my-4" />
        

</body>
</html>
{% endblock %}