{% extends "home/index.html" %}
{% load static %}

{% block yajuu_title %}
Login | Yajuu
{% endblock %}

{% block yajuu_header %}
<header id="header" class="header d-flex align-items-center fixed-top">

    <a href="{% url 'home:index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 style="color: rgb(122, 2, 151); font-size:2.3em;">Yajuu! respuestas</h1>
    </a>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a style="font-size:1.5em;" href="{% url 'home:user-register' %}" class="mf-link">Registrar nuevo usuario</a></li>
        </ul>
|   </nav>

</header>
{% endblock %}

{% block yajuu_body %}

{% if form.errors %}
<p style="color: red">Combinación de username y password incorrecta, intenta de nuevo.</p>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table style="font-size: 1.2em;">
    {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-primary" value="Iniciar sesión" />
</form>

{% endblock %}