<title>Formulario Mods | Yajuu mods</title>
{% extends "home/index.html" %}

{% load static %}

{% block yajuu_body %}
<body>
    
    <form action="" method="POST">{% csrf_token %}
        <div style="border: 2px solid rgb(52, 177, 52); margin: auto; padding-left: 35%; padding-top: 1em; padding-bottom: 1em;">
            <table>

                {{ my_form.as_table }}

            </table>

            <input type="submit", value="Enviar", style="margin-left: 5px;">

    </form>
        </div>
    
</body>
</html>
{% endblock %}