<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Data</title>
    <style>
        table {
           border: 1px solid black;
           margin-left:auto;
           margin-right:auto;
        }
        th {
            border: 1px solid black;
        }
        td {
            border-right: 1px solid black;
        }
        ul {
            margin-left:auto;
            margin-right:auto;
        }
    </style>
</head>
<body>    
    <hr>
    <h1 style="text-align: center; background-color: beige;">Primer MVT - Challenge clase 18</h1>
    <p style="text-align: center;"><em>Estudiante: </em>Michael Franco</p>
    <hr>
    
    <h1 style="color: brown;">Datos actuales en la base de datos:</h1>
    {% for event in event_list %}
        <strong>Registro #{{ event.id }}</strong>
        <ul>
            <li><strong>Nombre:</strong> {{ event.name }}</li>
            <li><strong>Apellido:</strong> {{ event.last_name }}</li>
            <li><strong>Edad:</strong> {{ event.age }}</li>
            <li><strong>Fecha de nacimiento:</strong> {{ event.birth_date }}</li>
        </ul>
    {% endfor %}

</body>
</html>